.App {

}

.filter-active {
    background-color: aquamarine;
}

.error {
    border-bottom-color: red;
}

.todoList-task.done {
    opacity: 0.5;
}

.todoList {
    width: 500px;
    margin: 0 auto;
}

.todoList > div {
    padding: 10px;
}

.todoList-task {

}